*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin-top: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr  2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side
{
    position: relative;
    background: #003147;
    padding: 40px;
}
img{
    width: 250px;
}

.profiletext
{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2); 
}
.profiletext .imgBx 
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2{
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4rem;
}
.profiletext h2 span
{
    font-size: 0.8rem;
    font-weight: 300;
}
.contactinfo
{
    padding-top:20px ;
}
.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfo ul{
    position: relative;
}
.contactinfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li .icon{
    display: inline-block;
    width: 20px;
    font-size: 18px;
    color: #03a9f4;
}
.contactinfo ul li span{
    color: #fff;
    font-weight: 300;
}
.contactinfo.education li{
    margin-bottom: 15px;
}

.contactinfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}
.contactinfo.education h4{
    color: #fff;
    font-weight: 500;
}
.contactinfo.language h4{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}


.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
  margin-bottom: 50px;   
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 10px;
    align-content: center;
}
p{
    color: black;
    margin-top: 20px;
    font-weight: 525;
}
.experience{
    list-style-type: none;
    color: #003147;
    text-transform: uppercase;
}
.experience .box{
    margin-top: 40px;
    margin-bottom: 20px;
}
h5{
    color: #03a9f4;
    margin-top: 20px;
}
.title3{
    color: #003147;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.skill .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skill .box h4{
    text-transform: uppercase;
    color: #0a0c10;
    font-weight: 550;
    margin-top: 20px;
}
.skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;;
}
.skill .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.title4{
    text-transform: uppercase;
    color: #003147;
    margin-top: 40px;
}

.certificate li{
    list-style-type: none;

}
.certificate h4{
    color: #003147;
    text-transform: capitalize;
    margin-top: 30px;
    font-size: large;

}

.title5{
    color: #003147;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}
.project li{
    list-style-type: none;
    margin-bottom: 10px;
}

.project h4{
    color: #003147;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: large;
}








